.git
.github
.vscode
.idea

__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env
.env
.env.*

*.pyc
*.pyo
*.pyd
.DS_Store
*.log

test-face.jpg
tests
docker-compose.dev.yml
Dockerfile.dev

benchmarks/datasets/celeba_spoof/images/
benchmarks/datasets/celeba_spoof/labels.csv

# Model binaries
antispoof/models/*.onnx
antispoof/models/**/*.onnx
antispoof/models/*.bin
antispoof/models/*.pt
antispoof/models/*.pth
antispoof/models/*.tflite
