.env
.env.*
.generated/

.venv/
venv/
env/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

benchmarks/datasets/celeba_spoof/images/
benchmarks/datasets/celeba_spoof/labels.csv

antispoof/models/**
!antispoof/models/.gitkeep

.cursor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
